<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alegria Nestor</title>
    
        <script type="text/javascript" src="{{base_path()}}/libs/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="{{base_path() }}/libs/fontawesome/css/all.css">
        <link rel="stylesheet" href="{{base_path()}}/libs/bootstrap/dist/css/bootstrap.css">
        <script type="text/javascript" src="{{base_path()}}/libs/bootstrap/dist/js/bootstrap.js"></script>
        <!-- Funciones propias -->
        <script type="text/javascript" src="{{base_path()}}/js/principal.js"></script>
        <!-- Estilos propios -->
        <link rel="stylesheet" href="{{base_path()}}/css/estilos.css">
    </head>
    <body>  
<body>
    {% block content %}
    {% endblock %}
</body>
</html>